html,body{
  height:100%;
  overflow: hidden;
}
#contenedorMensaje{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    display: none;

}
.btn{
    background:#fff;
    padding: 15px;
    border:0;
    border-radius: 15px;
}
img{
    max-width:  100%;
}
#hijo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lblMensaje{
    font-size: 2rem;
    text-align: center;
    transition: all .5s linear;
    opacity: 0;
}
#contenidoMensajes{
    text-align: center;
    color: #fff;
    width: calc(100% - 60px);
    max-width: 512px;
    background: #000;
    border-radius: 10px;
    padding: 15px;
}
.bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
 }

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
 }

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}